* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px;
}

.div-1 {
    width: fit-content;
    max-width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.div-1 h1 {
    font-size: 28px;
}

#missingInputError {
    font-size: 16px;
    font-weight: 600;
    color: red;
    visibility: hidden;
}

#missingInputError.active {
    visibility: visible;
}

.input-div {
    display: flex;
    align-items: center;
    gap: 20px;
}

select {
    padding: 10px;
    border: 1px solid rgb(176, 173, 173);
    border-radius: 12px;
    cursor: pointer;
}

#searchBtn {
    padding: 10px 16px;
    border: none;
    background: #000;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    gap: 6px;
}
#searchBtn:hover {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}
#searchBtn:active {
    background-color: #292929;
}

#loading {
    border: 2px solid white;
    border-top: 2px solid rgb(251, 35, 251);
    border-right: 2px solid rgb(251, 35, 251);
    height: 15px;
    width: 15px;
    border-radius: 50px;
    display: none;
    animation: loadingAnimation 0.8s infinite linear;
}
#loading.active {
    display: block;
}

@keyframes loadingAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.repo-info {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid rgb(214, 209, 209);
    padding: 16px;
    border-radius: 14px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    display: none;
}

.repo-info.active {
    display: flex;
}

.repo-header {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.repo-header h2 {
    font-size: 18px;
    font-weight: 700;
}

.repo-header p {
    font-size: 16px;
    font-weight: 500;
    color: rgb(74, 73, 73);
    line-height: 1.5;
}

.repo-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-lang {
    display: flex;
    align-items: center;
    gap: 6px;
}

.repo-footer .language-tag {
    height: 10px;
    width: 10px;
    border-radius: 20px;
    background-color: yellow;
}

.repo-footer .repo-footer-data {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
}

.repo-footer-data p {
    font-size: 14px;
    font-weight: 600;
}

.repo-footer img {
    height: 20px;
}

#refreshBtn {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #000;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}
#refreshBtn:hover {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}
#refreshBtn:active {
    background-color: #292929;
}

.repo-link {
    font-size: 16px;
    font-weight: 600;
    color: rgb(4, 146, 4);
}
.repo-link:hover {
    color: rgb(2, 124, 2);
}
